body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
}


.navbar a:hover{
    
    font-size: 19px;
    color: red;
}
